p Hi,

p 您被邀请成为 ci.mgtv.com 的成员
p #{strider_server_name}
p 您的邀请码是:
p #{code}
p 点击下方的链接进行注册
p #{strider_server_name}/?code=#{code}
p
  a(href="http://ci.mgtv.com") ci.mgtv.com
  br
  | Raptor 芒果TV前端CI&CD系统
